@model BlogPost

<div id="post" class="col-12">
    <h3 class="Title">@Model.Title</h3>
    <p class="Summary">@Model.Summary</p>
    <p class="Content">@Model.Content</p>
    <p class="Time">@Model.Timestamp</p>
    <p class="Nickname">@Model.Nickname</p>
</div>
